@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #7c0cdf;
    --primary-light: #9e46ed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
