@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #7c0cdf;
    --primary-light: #9e46ed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
}

:root.dark {
    --background: #171717;
    --foreground: #dddddd;

    --primary: #6d22b1;
    --primary-light: #361057;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}
